*{
  margin: 0;
}

header{
  background-color: #333;
  padding: 10px;
  margin: 0;
}

nav {
  margin: 0;
  padding: 5px;
  overflow: hidden;

  /* Default box color */
  background-color: #333;

  /*Makes Header Stick to top of screen*/
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
    
}

.nav-item {
  float: left;
}
  
nav > a {
  /* Make text white and centered, plus make all the boxes appear in the same line */
  display: block;
  color: white;
  text-align: center;

  /* top right bottom left */
  padding: 14px 16px;

  /* No underline */
  text-decoration: none;
}
  
/* Change the box color to #111 (black) on hover */
nav a:hover {
  background-color: #111;
}

.socialLinks {
  float: right;
  margin-right: 50px;
}
.socialIcons {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

main{
  margin: 8px;
}

.photoGallery{
  border: 3px solid rgb(18, 18, 18);
  background-color: #f5ad28;
}
.photoGalleryImage{
  display: block;
  width: 60rem;
  height: 30rem;
  margin: auto;
}
