@font-face {
    font-family: "OpenSans";
    src:
      local("OpenSans"),
      url("./fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
}
@font-face {
    font-family: "Nunito";
    src:
      local("Nunito"),
      url("./fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
}
  
*{
    margin: 0;
}

.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}

.flipImage{
    transform: scaleX(-1); /* Flips image */ 
}
  
.standardIndent{
    text-indent: 25px;
}
.inline-spacing::after{
    content: "—";
}
  
.orangeLink {
    color: #f5a40f;
}
.orangeLink:visited{
    color: #f5a40f;
}
.standardOrange {
    color: #f5a40f;
}
  
header{
    background-color: #333;
    padding: 10px;
    margin: 0;
}
  
nav {
    margin: 0;
    padding: 5px;
    overflow: hidden;
  
    /* Default box color */
    background-color: #333;
  
    /*Makes Header Stick to top of screen*/
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  
    z-index: 5;
}
  
.nav-item {
    float: left;
}
    
nav > a {
    /* Make text white and centered, plus make all the boxes appear in the same line */
    display: block;
    color: white;
    text-align: center;
  
    /* top right bottom left */
    padding: 14px 16px;
    min-width: 60px;
  
    /* No underline */
    text-decoration: none;
    font-size: 14px;
    font-family: "Nunito";
    font-weight: 500;

    border-radius: 8px;
}
    
/* Change the box color to #111 (black) on hover */
nav a:hover {
    background-color: #111;
}
  
main{
    margin: 8px;
}

.footerDivider{
    margin-top: 24px;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "contacts socials";
    
    padding: 5px;
    margin: 8px;
}
footer * {
    text-indent: 0px !important;
}
@media (max-width: 640px) {
    footer{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "contacts" "socials";
    }
    .footerSocialLinks > div {
        float: none !important; 
        width: fit-content;
        margin: auto;
    }
    footer * {
        text-align: center;
    }
}
.footerContacts{
    grid-area: contacts;
}
.footerSocialLinks{
    grid-area: socials;
    margin: 10px;
}
.footerSocialLinks > div {
    display: block;
    float: right;
}
/* Gets rid of the URL underline that appears between the social link icons */
.footerSocialLinks a {
    text-decoration: none;
}
.footerCopyright{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    width: 100%;
    justify-content: center;

    margin-bottom: 5px;
}
.socialIcons{
    margin: 1px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.emailUsIcon{
    height: 35px;
    width: 35px;
}
.callUsIcon{
    height: 35px;
    width: 35px;
}


/* End of Footer Comments Start of Generic Comments */

h1, h2, h3, h4, h5, h6, p, li{
    font-family: "OpenSans";
}
h1 {
    text-indent: 25px;
}

.timesNewRoman{
    font-family: 'Times New Roman', Times, serif;
}
.smallMargin {
    margin: 3px;
}

/* HTML Forms Stuff*/
form {
    margin: 0px 25px;
    overflow-x: auto;
}

/* Default Input Box size is 162px */
.threeQuartersInputBox {
    width: 122px;
}
.halfInputBox {
    width: 81px;
}
.thirdInputBox {
    width: 54px;
}
.doubleInputBox {
    width: 324px;
}
.bigButton {
    width: 100px;
}

.reqInput{
    color: rgb(211, 0, 0);
}
fieldset{
    border-radius: 4px;
}
legend{
    font-family: "OpenSans";
    font-size: 15px;
}
textarea, label{
    font-family: "OpenSans";
}