@import url("./defaultstyle.css");

.ticketingForm {
    border: black solid 4px;

    padding: 10px;
    border-radius: 9px;
    overflow: hidden;
}
fieldset{
    border-radius: 4px;
}
legend{
    font-family: "OpenSans";
    font-size: 15px;
}
label{
    font-family: "OpenSans";
}
.eventDetails{
    font-family: "OpenSans";
    font-weight: 350;
    font-size: 14px;
}

h6 {
    font-size: .75em;
}

.threeQuartersInputBox {
    width: 122px;
}
.halfInputBox {
    width: 81px;
}
.doubleInputBox {
    width: 324px;
}