@import url("../defaultstyle.css");

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 12% [day]);
    grid-template-rows: repeat(9, 75px [week]);
    grid-template-areas:"header header header header header header header"
                        "header header header header header header header"
                        "weeks weeks weeks weeks weeks weeks weeks"
                        "days days days days days days days"
                        "days days days days days days days"
                        "days days days days days days days"
                        "days days days days days days days"
                        "days days days days days days days"
                        "bottom bottom bottom bottom bottom bottom bottom";
    justify-content: center;
    margin-bottom: 20px;
    font-family: "OpenSans";
}
.calendar > div {
    border: 4px solid darkorange;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 50px;
    color: darkorange;
    background-color: navy;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.weeks {
    grid-area: weeks;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    color: navy;
    background-color: darkorange;
}
.days {
    color: darkslategray;
}
.bottom {
    grid-area: bottom;
    display: flex;
    height: 10px;
    background-color: darkorange;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.button-img {
    width: 50px;
    height: 50px;
    margin-top: 3px;
}
button {
    background-color: darkorange;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button:hover {border: 1px white solid;}
button:active {border: 1px black solid; background-color: white;}
ul {font-family: "OpenSans";}

@media (max-width: 480px) {
    .button-img {
        width: 30px;
        height: 30px;
    }
    .header {font-size: 30px;}
    .weeks {font-size: 16px;}
    .calendar {
        grid-template-columns: repeat(7, 12% [day]);
        grid-template-rows: repeat(9, 50px [week]);
    }
}

@media (max-width: 720px) and (orientation: landscape) {
    .button-img {
        width: 40px;
        height: 40px;
    }
    .header {font-size: 40px;}
    .weeks {font-size: 24px;}
    .calendar {
        grid-template-columns: repeat(7, 12% [day]);
        grid-template-rows: repeat(9, 60px [week]);
    }
}