@import url("../defaultstyle.css");

section {
    padding: 10px;
    margin: 20px 0px;
}
section > p{margin-left: 10px;}
section > a{
    font-size: large;
    text-decoration: underline dashed;
    margin-left: 15px;
}
.social-container {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: repeat(3, 100px);
    grid-template-areas:"box-1 box-2"
                        "box-3 box-4"
                        "box-5 box-5";
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-1 {
    grid-area: box-1;
    color: white;
    background-image: linear-gradient(blue, cornflowerblue);
    border-top-left-radius: 20px;
    border-top: 4px black solid;
    border-left: 4px black solid;
}
.box-2 {
    grid-area: box-2;
    color: white;
    background-image: linear-gradient(deepskyblue, lightblue);
    border-top-right-radius: 20px;
    border-top: 4px black solid;
    border-right: 4px black solid;
}
.box-3 {
    grid-area: box-3;
    color: blueviolet;
    background-image: linear-gradient(orange, khaki);
    border-left: 4px black solid;
}
.box-4 {
    grid-area: box-4;
    color: black;
    background-image: linear-gradient(cadetblue, lightblue);
    border-right: 4px black solid;
}
.box-5 {
    grid-area: box-5;
    color: white;
    background-image: linear-gradient(red, hotpink);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 4px black solid;
    border-bottom: 4px black solid;
    border-right: 4px black solid;
}
.social-background {
    background-color: white;
    border: 4px white solid;
}
.social-background:hover {border: 4px lime solid;}