@import url("../defaultstyle.css");

/* Start of Page-specific stuff like the Photo Gallery */
.photoGallery{
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 3px solid rgb(18, 18, 18);
  background-color: #f5a40f;

  max-width: 85%;

  margin: auto; /* top right bottom left */
  border-radius: 16px;
  overflow: hidden;
}

.photoGalleryImage{
  display: block;
  width: 85%;
  height: fit-content;

  max-width: 1400px;

  flex-shrink: 1;

  margin: auto;
  margin-bottom: 0;
}

.photoGalleryButtons{ /* The div that it the button */
  margin: 3px 20px;

  z-index: 1;

  max-width: 50px;
  max-height: 75px;
}
.photoGalleryButtons > img{
  width: 100%;
  height: fit-content;
}

.photoGalleryControls{
  display: flex;
  align-content: center;
  align-items: center;

  border: 3px solid rgb(18, 18, 18);
  background-color: #f5a40f;

  padding: 5px;

  width: fit-content;
  border-radius: 15px;

  /* Placeholder values, also, scalar values to later be converted into px. */
  --window-width: 100;
  --element-width: 100;
  /* Placeholder values, also, scalar values to later be converted into px. */
  --true-window-width: calc(var(--window-width) * 0.5px);
  --alignment-width: calc(calc(var(--element-width) * 1.25px));

  /* Position Tagline at botton of image */
  position: relative;
  top: -50px;
  left: calc(var(--true-window-width) - var(--alignment-width));

  filter: opacity(50%);

  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-property: filter; /* ensures the transition only affects the opacity filter an nothing else */
  -webkit-transition-property: filter;
  -moz-transition-property: filter;
}
.photoGalleryControls:hover{
  filter: opacity(100%);
}

.pgControlOption{
  margin: 3px;
}
.pgControlButton{
  width: 25px;
  height: 25px;
  padding: 0;
}
.pgControlButton > img{
  width: 100%;
  height: 100%;
}
.gallerySwitchBarContainer{
  height: 20px;
  width: 200px;

  background-color: #808080;
  border-radius: 15px;

  overflow: hidden;
}
#gallerySwitchBar{
  background-color: #FFFFFF;
  width: 50px;
  height: 100%;

  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;

  border-radius: 10px;
}

/* Responsive layout - makes the photogallery smaller on smaller screens */
@media (max-width: 1185px) { /* Occures when screen has a width that is under 118[5 pixels */

  #PhotoGalleryPhoto{
    width: calc(100% - 125px);
    height: 100%;
    max-height: 530px;
  }
  .photoGalleryButtons{
    margin: 3px;
  }
}

p {
  font-size: 15px;
}

.infoText {
  margin-left: 25px;
}

h1 {
  text-indent: 25px;
}
h2 {
  font-size: 23px;
}

li {
  margin-left: 25px;
  font-size: 16px;
}

.calendarContainer{
  display: grid;
  margin: 5px 10% 5px 10%; /* top right bottom left */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15rem;
  grid-template-areas: "event1 event2 event3";
  border: #111 solid 4px;
}
/* Responsive layout - makes the featured events calendar verticle on smaller screens */
@media (max-width: 700px) { /* Occures when screen has a width that is under 700 pixels */
  .calendarContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 15rem);
    grid-template-areas: "event1" "event2" "event3";
  }
  .fEventPicture > img {width: 100%; height: 100%; max-width: 200px;}
}

.featuredEvent{
  margin: 3px;
  border: #333 solid 4px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px;
  grid-template-areas: "eventDateAndTime eventPicture" "eventDescription eventDescription";
}
.featuredEvent h2 {
  font-size: 22px;
}
.fEventNameAndTime{grid-area: eventDateAndTime;}
.fEventPicture{grid-area: eventPicture; overflow: hidden;}
.fEventPicture > img{width: 100%; height: 100%;}
.fEventDescription{grid-area: eventDescription; overflow: hidden;}
.fEventInfo > p{font-size: 13px; font-weight: 500;}
.fEventInfo > h2{font-size: 20px;}

.fEvent1{grid-area: event1;}
.fEvent2{grid-area: event2;}
.fEvent3{grid-area: event3;}


.whyUsContainer{
  display: grid;
  border: #333 solid 4px;
  margin: 5px 10% 5px 10%; /* top right bottom left */

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px;
  grid-template-areas: "whyUs1 whyUs2 whyUs3";

  overflow: hidden;
  
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
}
.whyUsContainer > div{padding: 5px;}
.whyUsContainer > div > h3{
  font-size: 25px; 
  color: #FFFFFF;
  text-align: center;
  font-weight: 600;
  text-shadow: 0 0 12px #111;
}
@media (max-width: 700px) {
  .whyUsConatainer {
    margin: 5px 7% 5px 7%;
  }
  .whyUsContainer > div > h3{
    font-size: 18px;
  }
}
.whyUs1 {
  grid-area: whyUs1;
  background-image: url("../images/MarketingImages/eventSpaceImage.webp");
  background-size: 100%;
}
.whyUs2 {
  grid-area: whyUs2;
  background-image: url("../images/MarketingImages/convenientLocation.webp");
  background-position: 30px;
  background-size: 100%;
}
.whyUs3 {
  grid-area: whyUs3;
  background-image: url("../images/MarketingImages/meWhenSavings.jpg");
  background-size: 100%;
}