@import url("../defaultstyle.css");

h2, h3, h4, h5, h6, p {
    text-indent: 25px;
}

/* CSS for renting Form */
form > h2, form > h3, form > h4, form > h5, form > h6, form > p {
    text-indent: 0px;
}
.rentingForm {
    border: black solid 4px;

    padding: 15px;
    border-radius: 9px;
    overflow: hidden;
}
fieldset{
    border-radius: 4px;
}
legend{
    font-family: "OpenSans";
    font-size: 15px;
}
label{
    font-family: "OpenSans";
}