@import url("../defaultstyle.css");

/* Ticketing Form CSS */
.ticketingForm {
    border: black solid 4px;

    padding: 15px;
    border-radius: 9px;
    overflow-y: hidden;
}
.eventDetails{
    font-family: "OpenSans";
    font-weight: 400;
    font-size: 14px;
    
    margin-left: 1em; /* Mimics a text indent in a span tag */
}
.multiDayEventDaySeperator{ margin-left: 1em; }

/* Misc CSS */
h6 {
    font-size: .75em;
}
main > h4{
    text-indent: 25px;
}
strong{
    font-family: "OpenSans";
}